*{
    margin: 0px;
    padding: 0px;
}
.formregis{
    width: 400px;
    padding: 50px;
    background-color: rgb(151, 219, 255);
    margin: auto;
    margin-top: 100px;
    border-radius: 50px;
}
.formregis h1{
    font-size: 30px;
    color: rgb(0, 72, 255);
}
.inputs{
    width: 400px;
    padding: 5px;
    border-bottom: 15px;
    background-color: snow;
    margin-bottom: 20px;
    border-radius: 50px;
    border: 2px solid rgb(101, 255, 229);
}
.cor{
    width: 400px;
    padding: 5px;
    border-bottom: 15px;
    background-color: snow;
    margin-bottom: 20px;
    border-radius: 50px;
    border: 2px solid rgb(101, 255, 229);
}
.env{
   background-color: snow;
   margin-inline-start: 160px;   
   width: 100px;
   height: 40px; 
   border-radius: 50px; 
   border: 2px solid rgb(101, 255, 229);
   background-color: snow;
}
.gen{
   
}